
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        .node {}
        .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
    </style>
</head>
<body style="text-align:center;"> 
    <br>
    <br>
    <br>
    <br>
    <h1 style="color:green;">   
      6 Degrees Of Separation
    </h1> 

    <p> 
      This is a project which visualises the social connections of developers in a GitHub repo <br>
      and checks if the idea of "Six degrees of separation" applies to developers.
      <br> <br>
      <b>Six degrees of separation</b> - is the idea that all people are six, or fewer, social connections away from each other. <br>
      As a result, a chain of "a friend of a friend" statements can be made to connect any two people in a maximum of six steps.
      <br> <br>
      Please enter the address of a GitHub repository into the field below to see a graph of all the connections
      of its developers. <br>
      Example input: nating/cs-exams
    </p>
    <form action="{{ url_for('index3') }}" method="post">
        <input type="text" name="repoAddress">
        <input type="submit">
    </form>
    <br>
    <p>
      Kamil Przepiórowski
      <a href="https://github.com/kamilprz">github.com/kamilprz</a>
    </p>

</body>
</html>